// Для импорта в диспетчер подключений: @import './src/less/blocks/logo.less';


.logo {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: flex-start;
  margin-left: 11px;
  margin-top: 4px;

  &:hover {
    opacity: .7;
    transition: ease-out 0.25s;
  }

  &__img {
    width: 90%;
  }

  &__text {
    color: @white-text;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    font-family: Avenir;
    padding-top: 8px;
  }

}
